

body {
    background: linear-gradient(to bottom, rgb(57, 57, 71), rgb(21, 21, 31));
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#theme-img {
    content: url(funbox.png);
}

.bar {
    background-color: rgb(30, 29, 31);
    height: 12.50vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;

    border-bottom: .5vh solid rgb(255, 215, 84);
}

.page-name {
    font-size: 7.50vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: .4vh;
    color: rgb(255, 215, 84);
    z-index: 5;
}

.menu-tab-wrapper {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}
    

.tab-handle {
    position: absolute;
    left: 50%;
    bottom: -12.5vh;
    transform: translateX(-50%);
    width: 25vh;
    height: 25vh;
    background: rgb(255, 215, 84);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    z-index: 5;  
}


.menu-label {
    display: block;
    pointer-events: none;
    font-size: 5.00vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 0.20vh;
    color:  rgb(30, 29, 31);
    position: relative;
    top:-3.3vh;
    left:.59vh;
    z-index: 5;

}

.menu-tab {
    position: relative;
    width: 25vh;
    height: 25vh;
    bottom: -12.5vh;
    border-radius: 50%;
    transition: all 0.3s ease;
    background:  rgb(255, 215, 84);
}

.menu-tab.expanded {
    width: 80vh;
    height: 80vh;
    bottom:-20vh;
    border-radius: 5vh;
}

.tab-handle.expanded {
    transform: translate(-50%, -60vh);
}

.menu-items {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 5vh 5vh;
    margin: 0;
    list-style: none;
    transform: opacity 0.3s ease, max-height 0.3s ease, transform 0.3s ease;
    transform: translateY(15vh);
}

.menu-tab.expanded .menu-items {
    opacity: 1;
    max-height: 60vh;
    transform: translateY(0);
}

.menu-items li {
    padding: 0.8em 0;
}

.menu-items li a::before {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    background-color: rgb(30, 29, 31) ;
    vertical-align: middle;
    transform: rotate(45deg);
    margin-right: 0.5em;
    transition: all 0.1s ease;
}

.menu-items li a{
    text-decoration: none;
    font-size: 3.0vh;
    font-family: "Montserrat", sans-serif;
    color:  rgb(30, 29, 31);
    font-weight: 600;
    transition: color 0.1s ease;
    z-index: 10;
    line-height: 6vh;
}

.menu-items li a:hover {
    color: white;
}

.menu-items li a:hover::before {
    background-color: white;
    transform: rotate(90deg);
}


.style-switch {
    position: relative;
    display: inline-block;
    height: 7.50vh;
    width: 15.50vh;
    margin-right: 6vh;
    z-index: 100;
}

.style-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgb(255, 215, 84);
    border-radius: 9.0vh;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 5.5vh;
    width: 5.5vh;
    left: 1vh;
    top: 1vh;
    background-color:  rgb(30, 29, 31);
    border-radius: 50%;
    transition: 0.3s;
}

.style-switch input:checked + .slider::before {
    transform: translateX(8vh);
}

@keyframes bounce {
    0% { transform: translateY(0);}
    50% { transform: translateY(-1.3vh);}
    100% { transform: translateY(0);}
}

.up-down {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 42%;
    left: 90vh;
    align-items: center;
    justify-content: space-between;
    gap: 8vh;
    animation: bounce 9s ease-in-out infinite;
}

.up-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgb(255, 215, 84);
    width: 11vh;
    height: 11vh;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.up-button:hover {
    background: white;
    /*box-shadow: 0 0 0.5vh 0.1vh white;*/
}

.up-pointer {
    width: 0;
    height: 0;
    border-left: 3vh solid transparent;
    border-right: 3vh solid transparent;
    border-bottom: 3vh solid rgb(30, 29, 31);
    position:relative;
    top: -0.25vh;
}


.down-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgb(255, 215, 84);
    width: 11vh;
    height: 11vh;
    border-radius: 50%;
}

.down-button:hover {
    background: white;
    /*box-shadow: 0 0 0.5vh 0.1vh white;*/
}

.down-pointer {
    width: 0;
    height: 0;
    border-left: 3vh solid transparent;
    border-right: 3vh solid transparent;
    border-top: 3vh solid rgb(30, 29, 31);
    position: relative;
    top: 0.5vh;
}

/* BODY */

.tch-body-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 14vh;
    top: 21vh;
    background-color: transparent;
    border-radius: 5vh;
    height: 70vh;
    width: 70vh;
    border: 0.5vh solid rgb(255, 215, 84);
    animation: bounce 9s ease-in-out infinite;
}


.tch-body {
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(5vh);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.tch-body.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transform: translateY(0);
}

.tch-body.exit {
    opacity: 0;
    transform: translateY(5vh);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.tch-body-head {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 4.0vh;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.tch-b-txt {
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 215, 84);
    font-size: 2.0vh;
    font-weight: 600;
    padding: 2vh 6.5vh;
    
}

.repo {
    font-family: "Montserrat", sans-serif;
    font-size: 2.0vh;
    font-weight: 600;
    color:rgb(255, 215, 84);
    padding: 2vh 6.5vh;
}

.tch-body img {
    width: 20vh;
    height: 20vh;
    padding: 2vh;
    align-items: center;
}

.tch-b-bullets {
    padding: 0vh 10vh;
    line-height: 3.5vh;
}

.tch-b-bullets li {
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 2.0vh;
    font-weight: 600;
}

.tch-b-bullets li::before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    background-color: rgb(255, 255, 255) ;
    vertical-align: middle;
    transform: rotate(45deg);
    margin-right: 0.5em;
}


/* BUTTONS */

.tch-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    right: 70vh;
    top: 21%;
    gap: 8vh;
}

.git-bubble {
    cursor: pointer;
    width: 18vh;
    height: 18vh;
    border-radius: 50%;
    background: rgb(255, 215, 84);
    transition: all 0.15s ease;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.git-bubble img {
    width: 15vh;
    height: 15vh;
    transform: translate(0vh, 1.4vh);
}

.git-bubble span {
    font-family: "Montserrat", sans-serif;
    font-size: 6vh;
    font-weight: 600;
    color: white;
    transform: translate(0vh, -9.4vh);
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
}

.git-bubble:hover {
    border-radius: 4vh;
}

.git-bubble:hover span {
    opacity: 1;
    transform: translate(25vh, -9.4vh);
}

.li-bubble {
    width: 18vh;
    height: 18vh;
    border-radius: 50%;
    background: rgb(255, 215, 84);
    display: flex;
    flex-direction: column;
    transition: all 0.15s ease;
    cursor: pointer;
}

.li-bubble img {
    width: 14vh;
    height: 14.0vh;
    transform: translate(2vh, 2vh);
}

.li-bubble span {
    font-family: "Montserrat", sans-serif;
    font-size: 6vh;
    font-weight: 600;
    color: white;
    transform: translate(0vh, -9.2vh);
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
}

.li-bubble:hover {
    border-radius: 4vh;
}

.li-bubble:hover span {
    opacity:1;
    transform: translate(23.4vh, -8.8vh);
}

.resume-bubble {
    width: 18vh;
    height: 18vh;
    border-radius: 50%;
    background: rgb(255, 215, 84);
    transition: all 0.15s ease;
    display: flex;
    cursor: pointer;
    flex-direction: row;
}

.resume-bubble:hover {
    border-radius: 4vh;
}

.resume-bubble span {
    font-family: "Montserrat", sans-serif;
    font-size: 6vh;
    font-weight: 600;
    color: white;
    transform: translate(0vh, 5.2vh);
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
}

.resume-bubble:hover span {
    opacity: 1;
    transform: translate(9.4vh, 5.5vh);
}

.resume-bubble img {
    width: 14vh;
    height: 14.0vh;
    transform: translate(2vh, 2vh);
}

.resume-bubble-q {
    position: fixed;
    left:125vh;
    bottom: 12vh;
    width: 18vh;
    height: 18vh;
    border-radius: 50%;
    background: rgb(255, 215, 84);
    transition: all 0.15s ease;
    display: flex;
    cursor: pointer;
    flex-direction: row;
}

.resume-bubble-q:hover {
    border-radius: 4vh;
}

.resume-bubble-q span {
    font-family: "Montserrat", sans-serif;
    font-size: 6vh;
    font-weight: 600;
    color: white;
    transform: translate(0vh, 5.2vh);
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
}

.resume-bubble-q:hover span {
    opacity: 1;
    transform: translate(9.4vh, 5.5vh);
}

.resume-bubble-q img {
    width: 14vh;
    height: 14.0vh;
    transform: translate(2vh, 2vh);
}

.lightbulb-1 {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 105vh;
    z-index: -1;
}

.lightbulb-1::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30vh;
    height: 30vh;
    background: rgb(240, 188, 91);
    border-radius: 50%;
    transform: translate(-50%, -10%) scale(0.8);
    filter: blur(10vh);
    z-index: -3;
}

.lightbulb-2 {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 135vh;
    top: 10vh;
    z-index: -1;
}

.lightbulb-2::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30vh;
    height: 30vh;
    background: rgb(91, 188, 240);
    border-radius: 50%;
    transform: translate(-50%, -10%) scale(0.8);
    filter: blur(10vh);
    z-index: -3;
}


.lightbulb-3 {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 165vh;
    top: 5vh;
    z-index: -1;
}

.lightbulb-3::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30vh;
    height: 30vh;
    background: rgb(240, 91, 213);
    border-radius: 50%;
    transform: translate(-50%, -10%) scale(0.8);
    filter: blur(10vh);
    z-index: -3;
}

.lb-img{
    width: 31.5vh;
    height: 50.2vh;
}

.lb1inner {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left:114.75vh;
    top:32.3vh;
    transform: scale(0);
    width: 12vh;
    height: 12vh;
    background: white;
    border-radius: 50%;
    opacity: 0;
    overflow: hidden;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transform-origin: center center;
}

.lb1inner.active {
    transform: scale(1);
    opacity: 1;
}

.lb1inner.exit {
    transform:  scale(0);
    opacity: 0;
}

.lb1inner img {
    width: 80%;
    height: 80%;
    transition: none;
}

.lb2inner {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left:144.65vh;
    top:42.3vh;
    transform: scale(0);
    width: 12vh;
    height: 12vh;
    background: white;
    border-radius: 50%;
    opacity: 0;
    overflow: hidden;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transform-origin: center center;
}

.lb2inner.active {
    transform: scale(1);
    opacity: 1;
}

.lb2inner.exit {
    transform:  scale(0);
    opacity: 0;
}

.lb2inner img {
    width: 100%;
    height: 100%;
    transition: none;
}

.lb3inner {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left:174.75vh;
    top:37.3vh;
    transform: scale(0);
    width: 12vh;
    height: 12vh;
    background: white;
    border-radius: 50%;
    opacity: 0;
    overflow: hidden;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transform-origin: center center;
}

.lb3inner.active {
    transform: scale(1);
    opacity: 1;
}

.lb3inner.exit {
    transform:  scale(0);
    opacity: 0;
}

.lb3inner img {
    width: 80%;
    height: 80%;
    transition: none;
}



.container {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  animation: bounce 9s ease-in-out infinite;
}

/* The transparent info box */
.info-box {
  position: relative;
  width: 150vh;
  height: 55vh;
  top:6%;
  background: transparent; /* semi-transparent */
  border: 0.5vh solid rgb(255, 215, 84);
  border-radius: 1vh;
  padding: 1.5rem 1rem 1rem 1rem;
  box-sizing: border-box;
}

/* Top-left tab */
.tab {
  position: absolute;
  top: -6.8vh;
  left: 4vh;
  background: rgb(255, 215, 84);
  color: black;
  font-weight: 600;
  padding: 2vh 8vh;
  border-radius: 2vh 2vh 0 0;
  font-size: 2vh;
}

/* Scrollable content inside the box */
.content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 1rem;
}

.content p {
  margin-bottom: 2vh;
  color: white;
  line-height: 1.4;
}

iframe {
    position: fixed !important;    
    bottom: 1vh !important;       
    right: 1vh !important;        
    width: 80vh !important;       
    height: 40vh !important;     
    max-width: 100% !important;   
    border: 0.3vh solid rgb(255, 215, 84) !important;
    border-radius: 1vh !important;
    z-index: 3 !important;   
    background-color: white !important;
}